<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/andres.css">
    <title>Página de climas</title>
</head>
<body>
    <div>
        <header>
            <h1>Página de climas </h1>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Servicios</a>
                <a href="#">Contactos</a>
            </nav>
        </header>
        <main>
            <section class="section1">
                <h2>Sección 1</h2>
                <input type="text" id="city-input" placeholder="Ingresa una ciudad">
                <button id="fetch-weather">Cargar Clima</button>
                <div id="weather-container"></div>
            </section>
            <section class="section2">
                <h2>Sección 2</h2>
                <p>Contenido adicional aquí.</p>
            </section>
        </main>
        <footer>
            <p>&copy; 2025 mi sitio web class 2875721. Todos los derechos reservados.</p>
        </footer>
    </div>
    <script src="/JavaScript/andres.js"></script>
</body>
</html>
