<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>}
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/Css/dan.css">
</head>
<body>

    <header class="fixed top-0 left-0 w-full bg-white/70 backdrop-blur-md shadow-md py-4 z-10">
            <!-- Barra de navegacion -->
            <nav class="flex justify-between items-center w-[92%]  mx-auto">
                <!-- Logo y nombe-->
                <a href="/index.html" class="flex items-center gap-2">
                    <img class="h-9 w-9 border-none rounded-full cursor-pointer" src="/images/Subtítulo.png" alt="...">
                    <p class="text-[22px] font-bold">Orizzonter</p>
                </a>                

                <!-- Menu de navegacion -->
                <div
                    class="nav-links duration-500 md:static absolute md:min-h-fit min-h-[60vh] left-0 top-[-100%] md:w-auto  w-full flex items-center px-5 font-bold">
                    <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                        <li><a class="relative p-2 text-lg text-gray-700 cursor-pointer transition duration-300 ease-in-out 
                        hover:text-purple-600 
                            after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[3px] after:bg-purple-500 
                        after:transition-all after:duration-300 after:ease-in-out hover:after:w-full" href="/views/dan.html">Usuarios</a></li>
                        <li><a class="relative p-2 text-lg text-gray-700 cursor-pointer transition duration-300 ease-in-out 
                        hover:text-purple-600 
                        after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[3px] after:bg-purple-500 
                        after:transition-all after:duration-300 after:ease-in-out hover:after:w-full" href="/views/gabriel.html">Estadísticas</a></li>
                        <li><a class="relative p-2 text-lg text-gray-700 cursor-pointer transition duration-300 ease-in-out 
                        hover:text-purple-600 
                        after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[3px] after:bg-purple-500 
                        after:transition-all after:duration-300 after:ease-in-out hover:after:w-full" href="/views/andres.html">Clima</a></li>
                        <li><a class="relative p-2 text-lg text-gray-700 cursor-pointer transition duration-300 ease-in-out 
                        hover:text-purple-600 
                        after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[3px] after:bg-purple-500 
                        after:transition-all after:duration-300 after:ease-in-out hover:after:w-full" href="/views/will.html">Rutas</a></li>
                        <li><a class="relative p-2 text-lg text-gray-700 cursor-pointer transition duration-300 ease-in-out 
                            hover:text-purple-600 
                            after:content-[''] after:absolute after:left-0 after:bottom-0 after:w-0 after:h-[3px] after:bg-purple-500 
                            after:transition-all after:duration-300 after:ease-in-out hover:after:w-full" href="/views/map.html">Map</a></li>
                    </ul>
                </div>
                <!-- Sing in -->
                <div class="flex items-center gap-6">
                    <a href="login.html">
                        <button class="relative px-6 py-2 text-white font-semibold bg-purple-700 rounded-full shadow-md transition-all duration-300 ease-in-out 
                        hover:bg-purple-900 hover:shadow-lg hover:-translate-y-1 
                        active:scale-95 overflow-hidden">
                        <span class="absolute inset-0 bg-white opacity-10 rounded-full transition-all duration-300 group-hover:opacity-20"></span>
                        Sign in
                        </button>
                    </a>
                    <!-- Funcion navbar responsive -->
                    <ion-icon onclick="onToggleMenu(this)" name="menu" class="text-3xl cursor-pointer md:hidden"></ion-icon>
                </div>
            </nav>
    </header>

    <main class="mt-32">
        <h1 class="text-4xl font-bold pb-10">Orizzonter - Registered Users</h1>
        <input type="text" id="searchInput" placeholder="Search user by name...">
        <div id="usersList"></div>
    </main>

    <footer>
        <p>Orizzonter 2025. All rights reserved.</p>
    </footer>
    <script src="/JavaScript/dan.js"></script>
</body>
</html>