<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ESTADISTICAS-ORIZZONTER</title>
    <link rel="stylesheet" href="/Css/gabriel.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
</head>
<body>
    <header>
        ESTADISTICAS
      
    </header>

    <main>
        <section class="section2">
            <h2>Section 2</h2>
            <br>
            <button onclick="mostrarEstadisticasRutas()">Generar Nueva Ruta</button>
            <div id="estadisticas"></div>
            <br>
            <div id="rutasGuardadas"></div>
            <br>
            <div id="map" style="width: 100%; height: 400px;"></div>
        </section>
    </main>
    
    
    
    

    <footer>
        <p>&copy Mi sitio Web Ficha <br>N°2875721</p>
    </footer>

    <script src="/JavaScript/gabriel.js"></script>
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</body>
</html>
